.error {
    color: red;
    background: lightgrey;
    font-size: 18px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: content-box;
    max-width: max-content;
}

.success {
    color: green;
    background: lightgrey;
    font-size: 18px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: content-box;
    max-width: max-content;
}